<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".CebuNestApp"
        android:allowBackup="true"
        android:icon="@drawable/cebunest_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/cebunest_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.CebuNest"
        android:usesCleartextTraffic="true">


        <activity
            android:name=".modules.auth.login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".modules.auth.register.RegisterActivity"
            android:exported="false"/>

        <activity
            android:name=".modules.tenant.TenantMainActivity"
            android:exported="false"/>

        <activity android:name=".modules.tenant.renting_property.PropertyDetailActivity" />
        <activity
            android:name=".modules.tenant.my_rentals.RentalDetailActivity"
            android:exported="false" />

    </application>
</manifest>